.listGroupItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #14171A;

}

.text {
    margin-left: 0.5rem;
    margin-right: 1rem;
}

.textType{
    font-weight: 700;
}

.buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.buttons span {
    font-size: 0.8rem;;
    cursor: pointer;
}


.cookieImg {
    width: 2.5rem;
}
.badgeColor {
    background-color: #AC7088 !important;
}


