.welcome {
  margin-top: 25rem;
}
.svgImg {
  margin-top: 5rem;
  color: #ac7088;
  transition: width 0.5s, height 0.5s;
}
.svgImg:hover {
  width: 100px;
  height: 100px;
}

.wrap {
  position: relative;
  margin-bottom: 15rem;
}

.wrap:before {
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  height: 600px;
  max-height: 600px;
  padding-top: 80px;
  max-width: 100%;
  width: 100%;
  object-fit: cover;
  opacity: 0.4;
  background-image: url("/src//media/header_chip.jpg");
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
}

.content {
  position: relative;
  top: 5rem;
}

@media  (max-width:500px) {
  .wrap:before {
    background-image: url("/src//media/header_chip_mobile.jpg");
  }
  
}