footer {
  font-size: 0.6rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  color: #ac7088;
  margin-top: 2rem;
  background-color: #deb6ab;
}
.logos a:link, a:visited {
    color:inherit;
}
.logoSvg {
    width: 7rem;
    height: 7rem;
  filter: invert(48%) sepia(13%) saturate(1040%) hue-rotate(284deg)
    brightness(100%) contrast(89%);
}
.logos {
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 13vw;
  padding: 1rem 0;
}

.logos svg {
    width: 1.3rem;
    height: 1.3rem;
  /* padding: 0 0.5rem; */
}
.logos svg:hover {
  color: #ffefe2;
}
