.listItem {
    display: flex;
    justify-content: space-between;
}

.cookieType {
    width: 4.4rem;
    margin: 0.2rem 0;
    font-size: medium !important;
}

.cookieDescription {
    width: 5.6rem;
    margin: 0.2rem 0;
    font-size: 0.6rem !important;
}



itemPrice {
    padding: none;
}

.bodyBg {
  background-color:#DEB6AB;
  color: #705e65
}

.badgeColor {
    background-color: #AC7088 !important;
}


.cardText {
    height: 3rem;
}

@media (max-width:500px) {
    .bodyBg{

        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    }
}