.mainCard {
  margin: 0rem 11rem 8rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.anchor {
  display: block;
  position: relative;
  top: -20vh;
  visibility: hidden;
}


@media only screen and (max-width: 500px) {
  .mainCard {
    margin: 0rem 2rem 6rem;
    box-shadow: none;
  }
}
